.navbar-nav .nav-item .nav-link{
  font-size:18px !important;
  padding:10px !important;
}
.navbar-nav .nav-item .nav-link:hover{
  color:blue !important;
}
.navbar .navbar-brand{
  
  color:blue !important;
  font-size: 30px;
}

.navbar{
  margin:15px;
  padding: 20px !important;
  opacity:0.8 !important;
}

.navbar:hover{
  opacity:1 !important;
  background-color: coral !important;
  border-radius: 5px;
}