.navbar-nav .nav-item .nav-link{
    font-size:18px !important;
    padding:10px !important;
  }
  .navbar-nav .nav-item .nav-link:hover{
    color:blue !important;
  }
  .navbar .navbar-brand{
    
    color:blue !important;
    font-size: 30px;
  }
  
  .navbar{
    padding: 20px !important;
    background-color: blanchedalmond;
    box-shadow: 0 2px 5px black !important;
    
  }
  
  .navbar:hover{
    border-radius: 5px !important;
  }